/**
 * Removing the default padding
 */
#log-list .row{
   display: flex;
   flex-direction: row;
   align-items: center;

   height: 3.5em;
   padding-top: 0.4em;
   padding-bottom: 0.4em;

   font-size: 1.3em;
   overflow: hidden;

   animation: logRowFadeIn 0.5s ease;
   animation-fill-mode: forwards;
}
@keyframes logRowFadeIn{
   0% {
      opacity: 0;
      padding-left: 2em;
   }
   100% {
      opacity: 1;
      padding-left: auto;
   }
}


/**
 * Log row label
 */
#log-list .row::before{
   content: '';
   display: block;

   height: 0.5em;
   width: 0.5em;
   margin-right: 1em;

   border-radius: 50%;
   background: var(--accent-color);
   flex-shrink: 0;

   animation: logLabelfadeOut 0.2s ease 8s;
   animation-fill-mode: forwards;
}

@keyframes logLabelfadeOut{
   0% {opacity: 1;}
   100% {
      opacity: 0;
      transform: translateX(-1em);
      margin-right: 0;
   }
}



/**
 * Request status code
 */
#log-list .row .status{
   font-size: 100%;
   width: 2.2em;
   overflow: hidden;
   flex-shrink: 0;
}

#log-list .row .vertical-line{
   margin: 0 0.5em;
}
#log-list .row .flex-vertical-layout{
   height: 100%;
}
#log-list .row .primary{
   font-size: 75%;
}
#log-list .row .secondary{
   font-size: 60%;
   line-height: 1.2em;
}



/**
 * Highlighting the status code
 */
#log-list .status[data-status]{
   font-weight: bold;
}
#log-list .status[data-status="100"]{
   color: #2196F3;
}
#log-list .status[data-status="200"]{
   color: #689F38;
}
#log-list .status[data-status="300"]{
   color: #009688;
}
#log-list .status[data-status="400"]{
   color: #C0CA33;
}
#log-list .status[data-status="500"]{
   color: #E53935;
}
