/**
 * Removing the default padding
 */
#log-list .row{
   padding-top: 0.8em;
   padding-bottom: 0.8em;
   font-size: 0.9em;

   animation: logRowFadeIn 0.5s ease;
   animation-fill-mode: forwards;
}
@keyframes logRowFadeIn{
   0% {
      opacity: 0;
      padding-left: 2em;
   }
   100% {
      opacity: 1;
      padding-left: auto;
   }
}


/**
 * Log row label
 */
#log-list .row::before{
   content: '';
   display: inline-block;

   height: 0.5em;
   width: 0.5em;
   margin-right: 1em;

   vertical-align: baseline;
   border-radius: 50%;
   background: var(--accent-color);

   animation: logLabelfadeOut 0.2s ease 8s;
   animation-fill-mode: forwards;
}

@keyframes logLabelfadeOut{
   0% {opacity: 1;}
   100% {
      opacity: 0;
      transform: translateX(-1em);
      margin-right: 0;
   }
}



/**
 * Reseting the font color and size
 */
#log-list .row *{
   color: rgba(33, 33, 33, 0.7);
   font-size: 1em;
}


/**
 * Bold elements
 */
#log-list .row .bold{
   font-weight: bold;
}


/**
 * Highlighting the status code
 */
#log-list .row *[data-status]{
   font-weight: bold;
}
#log-list .row *[data-status="100"]{
   color: #2196F3;
}
#log-list .row *[data-status="200"]{
   color: #689F38;
}
#log-list .row *[data-status="300"]{
   color: #009688;
}
#log-list .row *[data-status="400"]{
   color: #C0CA33;
}
#log-list .row *[data-status="500"]{
   color: #E53935;
}
