section{
   display: flex;
   flex-direction: column;
   height: 100%;
}
section > .app-bar{
   flex-grow: 0;
   flex-shrink: 0;
}
section > .list{
   overflow-y: auto;
}



#load-overlay{
   position: fixed;
   width: 100%;
   height: 100%;
   background: var(--primary-color);
   z-index: 16;
}


#settings-language{
   padding: 0.6em;
   margin: 0;
   font-size: 0.9em;
   width: auto;
   color: var(--bg-color-contrast-faded);
   background: rgba(0, 0, 0, 0.2);
} #settings-language > .material-icons, #settings-language-output{
   vertical-align: middle;
   margin: 0 0.3em;
} #settings-language .mdl-ripple{
   background: rgba(255, 255, 255, 0.5);
} #settings-language-output{
   color: var(--bg-color-contrast-icon);
   text-decoration: underline;
}


/**
 * Vehicle info on app-bar
 */
.vehicle-info-app-bar > .flex-horizontal-layout{
   align-items: center;
}
.vehicle-info-app-bar .round-thumbnail{
   margin-right: 1em;
   flex-shrink: 0;
}
.vehicle-info-app-bar .secondary{
   color: var(--primary-color-contrast-faded);
   font-size: 80%;
}
.vehicle-info-app-bar .tertiary{
   display: inline-block;
   align-self: flex-end;
   flex-shrink: 0;

   margin: 0.2em;
   margin-left: 0.5em;

   text-align: right;
   color: var(--primary-color-contrast-faded);
}
@media (orientation: portrait){
   .vehicle-info-app-bar .tertiary{
      font-size: 70%;
   }
}
@media (orientation: landscape){
   .vehicle-info-app-bar .tertiary{
      font-size: 80%;
   }
}



/**
 * Hovering on list items:
 */
.list > li:hover, .list > li *:hover{
   cursor: pointer;
}



/**
 * User app-bar
 */
.user-info-app-bar > div{
   margin-left: 4em;
}



/**
 * Clickable app bar
 */
.clickable-app-bar:not(.inactive)::after{
   content: '';
   position: absolute;
   opacity: 0;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;

   cursor: pointer;
   background: rgba(255, 255, 255, 0.08);
   transition: opacity 0.2s ease;
}
.clickable-app-bar:not(.inactive):hover::after{
   opacity: 1;
}
.clickable-app-bar:not(.inactive) *:hover{
   cursor: pointer;
}
.clickable-app-bar:not(.inactive) .mdl-ripple{
   background: #fff;
}
.clickable-app-bar.inactive .mdl-ripple{
   background: rgba(0, 0, 0, 0);
}
.clickable-app-bar.inactive > *{
   opacity: 0.7;
}

/**
 * None selected text
 */
.clickable-app-bar > div > div{
   visibility: visible;
}
.clickable-app-bar.none-selected > div > div{
   visibility: hidden;
}
.clickable-app-bar .none-selected-text{
   position: absolute;
   visibility: hidden;
}
.clickable-app-bar.none-selected .none-selected-text{
   visibility: visible;
   background-color: var(--primary-color);
}

/**
 * Clear able app bar
 */
.clear-able-app-bar {
   flex-grow: 0;
   flex-shrink: 0;
}
.clear-able-app-bar .clickable-app-bar + button{
   visibility: visible;
}
.clear-able-app-bar .clickable-app-bar.none-selected + button{
   visibility: hidden;
}

.clear-able-app-bar > .clickable-app-bar{
   padding-left: 4em;
}
.clear-able-app-bar .clickable-app-bar > div{
   padding: 0.4em;
}
.clear-able-app-bar > button{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   padding: 1em;
   font-size: 1.1em;
   margin-left: 0.5em;
   box-shadow: none;
   z-index: 10;
}


.fab-container-app-bar-boundary{
   position: absolute;
	bottom: 0;
   right: 1em;
   align-self: flex-end;
   padding: 0 !important;
   transform: translateY(50%);
}

.fab-container-app-bar-boundary > .fab{
   display: inline-block;
   min-height: 2.4em;
   max-height: 2.4em;
	min-width: 2.4em;
	max-width: 2.4em;
   background-color: var(--accent-color-light) !important;
}

.fab-container-app-bar-boundary *:hover{
   cursor: pointer;
}



/**
 * Schedule duration output
 */
.schedule-duration-output{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   line-height: 1.2em;
}
li .schedule-duration-output{
   width: 20%;
   min-width: 12em;
   flex-grow: 0;
   flex-shrink: 0;
}
li .schedule-duration-output::before{
   content: '';
   position: absolute;
   width: 1px;
   height: 100%;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.1);
}
@media (max-width: 500px), (orientation: portrait) {
   li .schedule-duration-output{
      max-width: 8em;
      min-width: 8em;
   }
}
/**
 * Three dots icon
 */
.schedule-duration-output > .material-icons{
   line-height: 2em;
   font-size: 1em;
}
/**
 * Dates
 */
.schedule-duration-output > span:nth-child(1),
.schedule-duration-output > span:nth-child(5){
   font-size: 100%;
}
/**
 * Times
 */
.schedule-duration-output > span:nth-child(2),
.schedule-duration-output > span:nth-child(4){
   font-size: 80%;
}



/**
 * Snackbar button color correction
 */
.snackbar > button:nth-of-type(1){
   color: #9575CD;
}



/**
 * Active info containers
 */
.active-true-container .material-icons, .active-true-container .labeled-output{
   color: #009688 !important;
}
.active-neutral-container .material-icons, .active-neutral-container .labeled-output{
   color: #C62828 !important;
}
.active-false-container .material-icons, .active-false-container .labeled-output{
   color: #C62828 !important;
}



/**
 * MDL input
 */
.app-bar .mdl-textfield{
	width: 100%;
	margin: 0 0em;
}
.form > .row.mdl-input-row{
	align-items: center;
   padding: 0 2em;
}



/**
 * MDL correction for date and time inputs
 */
.mdl-input-row input[type="date"]:invalid,
.mdl-input-row input[type="time"]:invalid{
   color: rgba(0, 0, 0, 0.0);
}
.mdl-input-row input[type="date"]:valid,
.mdl-input-row input[type="date"]:focus,
.mdl-input-row input[type="time"]:valid,
.mdl-input-row input[type="time"]:focus{
   color: inherit;
}


.mdl-checkbox *:hover, .mdl-radio *:hover{
   cursor: pointer;
}


/**
 * MDL color correction
 */


/**
 * MDL Radio
 */
/**
 * Radio outline (checked)
 */
.mdl-radio.is-checked .mdl-radio__outer-circle{
   border-color: var(--accent-color-dark);
}
/**
 * Radio outline (unchecked)
 */
.mdl-radio__outer-circle{
   border-color: var(--bg-color-contrast-icon);
}
/**
 * Radio fill
 */
.mdl-radio__inner-circle{
   background-color: var(--accent-color-light);
}
/**
 * Radio ripple
 */
.mdl-radio__ripple-container .mdl-ripple{
   background: var(--accent-color);
}


/**
 * MDL checkbox
 */
/**
 * Ckeckbox fill
 */
.mdl-checkbox.is-checked .mdl-checkbox__tick-outline{
   background-color: var(--accent-color);
}
/**
 * Checkbox outline (unchecked)
 */
.mdl-checkbox__box-outline{
   border-color: var(--bg-color-contrast-icon);
}
/**
 * Checkbox outline (checked)
 */
.mdl-checkbox.is-checked .mdl-checkbox__box-outline{
   border-color: var(--accent-color);
}
/**
 * Checkbox ripple
 */
.mdl-checkbox__ripple-container .mdl-ripple{
   background: var(--accent-color);
}


/**
 * MDL input
 */
/**
 * MDL input floating label color (focus)
 */
.mdl-textfield--floating-label.is-focused .mdl-textfield__label{
   color: #9575CD;
}
.tinted .mdl-textfield--floating-label.is-focused .mdl-textfield__label{
   color: #9575CD;
}
/**
 * MDL input floating label color (blur)
 */
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label{
   color: #9575CD;
}
.tinted .mdl-textfield--floating-label.is-dirty .mdl-textfield__label{
   color: #9575CD;
}

/**
 * MDL input bottom line color (active)
 */
.mdl-textfield__label:after{
   background-color: var(--accent-color);
}
.tinted .mdl-textfield__label:after{
   background-color: var(--primary-color-contrast-faded);
}
/**
 * MDL input bottom line color (inactive)
 */
.tinted .mdl-textfield__input{
   border-bottom-color: #9575CD;
}
/**
 * MDL input placeholder color
 */
.tinted .mdl-textfield__label{
   color: var(--primary-color-contrast-faded);
}

/**
 * MDL spinner
 */
.mdl-spinner__circle{
   border-color: var(--accent-color);
}
