section{
   display: flex;
   flex-direction: column;
   height: 100%;
}
section > .app-bar{
   flex-grow: 0;
   flex-shrink: 0;
}
section > .list{
   overflow-y: auto;
}


/**
 * Vehicle info on app-bar
 */
.vehicle-info-app-bar > .flex-horizontal-layout{
   align-items: center;
}
.vehicle-info-app-bar .round-thumbnail{
   margin-right: 1em;
}
.vehicle-info-app-bar .secondary{
   color: var(--primary-color-contrast-faded);
   font-size: 80%;
}



/**
 * Snackbar button color correction
 */
.snackbar > button{
   color: #9575CD;
}
