@font-face {
   font-family: 'RobotoRegular';
   font-style: normal;
   font-weight: 400;
   src:  url(../../static/res/font/Roboto-Regular.ttf) format('truetype');
}

@font-face {
   font-family: 'RobotoBold';
   font-style: normal;
   font-weight: 400;
   src:  url(../../static/res/font/Roboto-Bold.ttf) format('truetype');
}
