#login-section{
   overflow-y: auto;
}
/**
 * Component that holds the logo, the line, and the login form
 */
#login-container{
   display: flex;
   align-items: center;
   justify-content: flex-start;
   max-width: 100%;
}



#login-logo{
   flex-grow: 0;
   flex-shrink: 0;
   background: url('/static/res/image/eiger-logo-contrast.svg');
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
}

#login-container > .horizontal-line, #login-container > .vertical-line{
   background: rgba(255, 255, 255, 0.3);
}



/**
 * Adjusting the form width, and the submit vertical spacing
 */
#login-form{
   max-width: 100%;
} #login-form > *{
   width: 100%;
} #login-error-output{
   display: block;
   color: #D32F2F;
} #login-form > button{
   min-width: 10em;
   max-width: 100%;
   padding: 0.6em;
} #login-form > button[type="submit"]{
   font-size: 1.2em;
   width: 70%;
   background: var(--bg-color);
   color: var(--bg-color-contrast);
} #login-language{
   margin: 3em auto 0 auto;
   font-size: 0.9em;
   width: auto;
   color: var(--bg-color-contrast);
   background: rgba(0, 0, 0, 0.2);
} #login-language > .material-icons, #login-language-output{
   vertical-align: middle;
   margin: 0 0.3em;
} #login-language .mdl-ripple{
   background: rgba(255, 255, 255, 0.5);
} #login-language-output{
   text-decoration: underline;
}



/**
 * When portrait, assumes an vertical layout
 */
@media (orientation: portrait){
   #login-container{
      width: 90%;
      flex-direction: column;
   } #login-container > .vertical-line{
      display: none;
   }
   #login-logo{
      margin: 2em 0;
      height: 8em;
      width: 8em;
   }
   #login-form{
      margin: 2em 0;
   } #login-form > button{
      margin: 2em auto 0 auto;
   }
}



/**
 * When landscape, assumes an horizontal layout
 */
@media (orientation: landscape){
   #login-container{
      top: 10vh;
      height: 80vh;
      flex-direction: row;
   } #login-container > .horizontal-line{
      display: none;
   }
   #login-logo{
      margin: 0 2.5em;
      height: 5em;
      width: 5em;
   }
   #login-form{
      margin: 0 2.5em;
      width: 50%;
   } #login-form > button{
      margin: 1em auto 0 auto;
   } #login-form > #login-language{
      margin: 2em auto 0 auto;
   }
}

@media (min-width: 800px){
   #login-logo{
      margin: 0 4em;
      height: 10em;
      width: 10em;
   }
   #login-form{
      margin: 0 4em;
   } #login-form > button{
      margin: 2em auto 0 auto;
   } #login-form > #login-language{
      margin: 4em auto 0 auto;
   }
}
