/**
 * Component that holds the logo, the line, and the login form
 */
#login-container{
   display: flex;
   align-items: center;
   justify-content: center;
}


/**
 * TODO Replace this with an image
 */
#login-logo{
   flex-grow: 0;
   flex-shrink: 0;
   /*background: var(--primary-color-dark);*/
   background: url('/static/res/image/eiger-logo.png');
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
}


/**
 * Adjusting the form width, and the submit vertical spacing
 */
#login-form{
   flex-grow: 1;
   width: 80%;
} #login-form > button[type="submit"]{
   margin: 4em auto 0 auto;
} #login-form > *{
   width: 100%;
}

#login-error-output{
   color: #D32F2F;
}


#login-language-container{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 2em auto 0 auto;
}
#login-language-container > *{
   margin: 0 0.5em;
}
#login-language-container > .material-icons{
   color: var(--bg-color-contrast-icon);
}
#login-language{
   color: var(--bg-color-contrast);
   background: rgba(0, 0, 0, 0.2);
   padding: 0.8em 3em;
}


/**
 * When portrait, assumes an vertical layout
 */
@media (orientation: portrait){
   #login-container{
      width: 90%;
      flex-direction: column;
   } #login-container > .vertical-line{
      display: none;
   }
   #login-logo{
      margin: 4em 0;
      height: 8em;
      width: 8em;
   }
   #login-form{
      margin: 4em 0;
   }
}


/**
 * When landscape, assumes an horizontal layout
 */
@media (orientation: landscape){
   #login-container{
      top: 10vh;
      width: 70%;
      min-width: 30em;
      height: 80vh;
      flex-direction: row;
   } #login-container > .horizontal-line{
      display: none;
   }
   #login-logo{
      margin: 0 2.5em;
      height: 5em;
      width: 5em;
   }
   #login-form{
      margin: 0 4em;
   }
}

@media (min-width: 700px){
   #login-logo{
      margin: 0 4em;
      height: 8em;
      width: 8em;
   }
}
