/**
 * All item from the list
 */
#schedules-list > li{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
}


/**
 * Schedule user and reason
 */
#schedules-list li .user{
   flex-grow: 1;
   flex-shrink: 2;
   padding-right: 2em;
}

/**
 * Schedule duration
 */
#schedules-list li .schedule-duration-output{
   font-size: 0.9em;
}
